* {
    margin: 0;
    padding: 0;
}

body {
    background: url(database.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cont {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    background: linear-gradient(45deg, rgba(56, 49, 247, 0.6) 0%, rgba(41, 137, 216, 0.45) 50%, rgba(47, 239, 249, 0.31) 100%);
    border-radius: 4px;
    padding: 20px 48px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

